# POSTGRES DATABASE PRODUCTION
PG_URL_PROD=
# POSTGRES DATABASE DEV
PG_URL_DEV=

# H2 DATABASE DEV/TEST
H2_USER=dev
H2_PASSWORD=dev

# SERVER
SERVER_PORT=

# OTHER (dev | prod | test)
SPRING_PROFILES_ACTIVE=dev

GEMINI_API_KEY=

# true or false
# default users refers to the users that are created when the application is run for the first time. If set to true, these users will be created automatically. If set to false, no default users will be created and you will need to create users manually.
CREATE_DEFAULT_USERS=true
# Dump data refers to the sample data that is inserted into the database when the application is run for the first time. If set to true, this sample data will be inserted automatically. If set to false, no sample data will be inserted and you will need to insert data manually.
CREATE_DUMP_DATA=false

# JWT
JWT_SECRET=

# ANALYZER SERVICE
AI_ANALYZER_URL=
AI_ANALYZER_API_KEY=

# INTERNAL API CONFIG (URL base, cobrança de créditos)
API_BASE_URL=http://localhost:8080
ANALYSIS_COST=30

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# reCAPTCHA
GOOGLE_RECAPTCHA_SECRET_KEY=